.main {
    font-family: Roboto;
    color: #16a085;
    font-size: 18px;
    font-weight: 900;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.main a {
    display: inline;
    margin-right: 50px;
}

.topImg {
    width: 1280px;
    height: 790px;
}

.background {
    width: 1280px;
    background-color: #f5f6f7;
}

.header {
    font-family: Roboto;
    color: #373737;
    font-size: 22px;
    font-weight: 900;
    text-align: center;
    padding-top: 50px;
}

.text {
    font-family: Roboto;
    color: #373737;
    text-align: center;
    font-size: 16px;
    line-height: 26px;
    font-weight: 900;
    width: 1059px;
    padding-left: 110px;
    padding-bottom: 30px;
}

.btn {
    font-family: Roboto;
    border-radius: 3px;
    color: #ffffff;
    background-color: #16a085;
    width: 192px;
    height: 51px;
    margin-left: 570px;
    margin-bottom: 60px;
}

.rights {
    font-family: Roboto;
    color: #373737;
    font-size: 16px;
    font-weight: 900;
    margin-left: 830px;
    margin-top: 30px;
    margin-bottom: 30px;
}